<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRealTimeUnit" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58413/RealTimeUnitService.svc/RealTimeUnit"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRealTimeUnit"
                contract="ServiceReference.IRealTimeUnit" name="BasicHttpBinding_IRealTimeUnit" />
        </client>
    </system.serviceModel>
</configuration>